<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter by Partner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select Partner/Distributor</h1>
        <form action="/filter_by_partner" method="post">
            <label for="partner_name">Select Partner/Distributor Name:</label>
            <select id="partner_name" name="partner_name" required>
                <option value="" disabled selected>Select an option</option>
                {% for partner in partner_names %}
                    <option value="{{ partner }}">{{ partner }}</option>
                {% endfor %}
            </select>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>
